<%- include('parts/header')%>
    <%- include('parts/navbar')%>
        <%- include('parts/accueil')%>





            <section class="container2">
                <!-- pour s afficher au milieu-->
                <form action="/" method="GET">
                    <select name="category" class="form-control">
                        <option value="all">tout</option>
                        <option value="En famille">En famille</option>
                        <option value="En Amoreux">En Amoreux</option>
                        <option value="Entre Amis">Entre Amis</option>

                    </select>
                    <input type="submit" class="btnn" value="filtrer">
                </form>
                <% if(validationError){%>
                    <p class="alert alert-danger">
                        <%= validationError.msg%>
                    </p>
                    <%}%>


                        <% if(products.length===0){%>
                            <div class="alert-danger">
                                aucune offre de ce style
                                <!--les msg d erreurs -->
                            </div>
                            <%}else{%>

                                <div class="row">

                                    <% for(let product of products ){ %>
                                        <!-- mettre ds loop-->
                                        <div class="col col-12 col-md-6 col-lg-4 col-xl-3">
                                            <!--combien de pub pour l affichage , col 12 prend-->
                                            <div class="cardl" style="width: 18rem;">
                                                <img src="<%= product.image%>" class="card-img-top">
                                                <div class="card-body">
                                                    <h5 class="card-title">
                                                        <a href="/product/<%= product._id%>">
                                                            <%= product.nom%>
                                                        </a>
                                                        <p>Prix:<%=product.prix%>
                                                        </p>
                                                    </h5>
                                                    <form action="/reser" method="POST" class="add-to-cart-form">

                                                        <input type="number" name="Nombre_Personne" value="/"
                                                            placeholder="nombre de personne" class="format">

                                                        <label>avez vous d'enfants? </label>

                                                        <input type="radio" class="btn" name="check" checkced="checked"
                                                            id="radio" value="Non"
                                                            onchange="essai(this.value,this.product._id)" /><span>Non</span>

                                                        <input type="radio" class="btn" name="check" id="radio"
                                                            value="Oui"
                                                            onchange="essai(this.value,this.product._id)" /><span>Oui</span>

                                                        <div class="booking-form" id="<%= product._id%>"
                                                            style="display: none;">
                                                            <p>nombre d enfants entre 0 et 6 ans (non paiable) </p>
                                                            <span>Nombre d'enfants:</span><input type="number"
                                                                class="format" name="Nombre_enfants" value="0">

                                                            <p>nombre d enfants a partir de 6ans (paiment de la moitié)
                                                            </p>
                                                            <span>Nombre d'enfants:</span><input type="number"
                                                                class="format" name="Nombre_bébé" value="0">
                                                        </div>


                                                        <input type="hidden" name="nom" value="<%=product.nom %>">
                                                        <input type="hidden" name="prix" value="<%=product.prix%>">
                                                        <input type="hidden" name="productId" value="<%=product._id%>">
                                                        <input type="hidden" name="redirectTo" value="/">
                                                        <input type="submit" value="Reserver" class="btn btn-primary">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        <%}%>
                                </div>
                                <%}%>
            </section>

            <% - include('parts/corps') %>

                <% - include('parts/footer') %>
                    <script>
                        function essai(radio, id) {
                            if (radio == "Oui") {
                                document.getElementById(id.prototype.toString()).style.display = 'block';
                                // document.getElementById('choice').style.display='block';
                            }
                            else {
                                document.getElementById(id.prototype.toString()).style.display = 'none';
                                //document.getElementById('choice').style.display='none';
                            }
                        }

                    </script>